<h2 class="text-center mb-4">Nuestro Catálogo de Camisetas</h2>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    <div class="col" *ngFor="let producto of productos">
        <div class="card h-100 shadow-sm border-0">

            <img [src]="producto.imagen" class="card-img-top" [alt]="producto.nombre"
                style="object-fit: cover; height: 300px;">

            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-primary">{{ producto.nombre }}</h5>
                <p class="card-text fw-bold fs-4 text-danger">{{ formatearPrecio(producto.precio) }}</p>

                <div class="mt-auto">
                    <p class="card-text mb-2">
                        <strong>Tallas:</strong>
                        <span class="badge bg-secondary me-1" *ngFor="let talla of producto.tallas">{{ talla }}</span>
                    </p>
                </div>

                <button class="btn btn-success mt-3">Comprar</button>
            </div>
        </div>
    </div>
</div>