body {
  background-image: url('imagen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #333;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
}

/* Animación de entrada */
section {
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Botón personalizado */
.btn-explorar {
  padding: 12px 40px;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid #333;
  background-color: transparent;
  color: #333;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-explorar:hover {
  background-color: #333;
  color: #fff;
}
